@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root{
    --primary : #094b65;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    overflow: hidden;
    background: #FFA500;
    min-height: 100vh;
}

#header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 50px 100px;
}